@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Savvy Solutions</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Maximize Your Time</h2>
        <p>
            Whether your a stylist or a customer.  Savvy Solutions can help you maximize your time.
            Customers can choose the appointment that fits their schedule!  Something came up? No worries, They can reschedule at their leisure.
            Stylist can get the most of your appointment windows.  Try Savvy today!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Your Budget</h2>
        <p>
            Stylist get an upfront view of their clients and the services to be rendered. This allows them to adjust their schedule to met their financial goals.
            While that all sounds great customers like to know what their out of pocket will be up front so that they stay within budget.  Savvy is a win win for all!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Relax</h2>
        <p>
            With easy appointment reminders customers and stylist can rest assured that there won't be any surprises. 
            Text alerts 48 and 24 hours before allow the customer time to reschedule, and immediately opens that window for the customers looking for a earlier appointment window.
            Can you say that Savvy Solutions Slays the day?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>